.sub{
  color: rgb(255, 104, 104);
  font-weight: bold;
}

.sub:hover{
  color: red;
}


.container{
  margin-bottom: 100px;
}
.orange-bg{
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.buy-now-button{
  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.price{
  color: #FF136F;
}
.cat1, .cat2, .cat3{
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1{
  background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.cat2{
  background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.cat3{
  background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
